$gold_orange_text: #f3a24a;
$mainBtn_bg: linear-gradient(
  -90deg,
  rgba(24, 159, 172, 1) 0%,
  rgba(107, 159, 137, 1) 100%
);
$primary_bg: #f7f7f7;
$gray_primary_text: #4a4a4a;
$gray_secondary_text: #919191;
$breakpoint-small-screen: 1200px;
